<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <nav class="nav-titles">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        {{#if loggedIn}}
          <button id="logout-btn">Logout</button>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </nav>
      <div class="title">
        {{#if dashboard}}
          Dashboard
        {{else}}
          The Tech Blog
        {{/if}}
      </div>
    </header>
    <script src="/js/logout.js"></script>
    <div>
      {{{body}}}
    </div>
  </body>
</html>